body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, yellow, black);
}
.cards{
    max-width: 900px;
    margin: 0 auto;
    font-size: small;
}
.card{
    margin-bottom: 60px;
    color: white; 
}
.card-2{
    color: white;
}
.one{
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.two{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.four{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.five{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.six{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}
.seven{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.eight{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    background: lightblue;
    text-align: center;
    padding: 15px 15px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
button:hover{
    background: lightseagreen;
}
button:active{
    background: grey;
}
input{
    margin-top: 50px;
    padding: 5px 20px;
}
input[type=text]{
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
}
input[type=text]:focus {
    border: 1px solid aqua;
    box-shadow: 0px 0px 10px aqua;
  }
